.card {
  display: flex;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3);
  margin: 10px;
  width: 60%;
  height: 25vh;
  font-size: 100%;
  border-radius: 5px;
}
.name-price {
  display: flex;
  justify-content: space-between;
}
.card-name {
  display: flex;
}

.card-stars {
  display: flex;
  margin: 0px;
}

.img {
  margin: 5px;
  border-radius: 5px;
  max-height: 95%;
}
h1 {
  margin: 0 10px 0 0;
  white-space: nowrap;
}
.card-description {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 20px;
  height: 40%;
}

@media screen and (max-width: 1300px) {
  .card {
    height: auto;
    width: 40vw;
    flex-direction: column;
  }

  .name-price {
    flex-direction: column;
    align-items: center;
  }

  .card-description {
    margin-left: 5px;
    height: auto;
  }
  .img-container {
    display: flex;
    justify-content: center;
  }

  .img {
    max-width: 98%;
  }
}

@media screen and (max-width: 850px) {
  .card {
    height: auto;
    width: 80vw;
    flex-direction: column;
  }
  .card-description {
    margin-left: 5px;
  }
}
