/********************header****************************/
.header {
  height: 50vh;
}

.header-top {
  width: 100vw;
  height: 15%;
  background-color: #08ac8f;
  text-align: center;
  display: flex;
}
.header-top > h1 {
  margin: auto;
  align-items: center;
  color: aliceblue;
}

.header-bot {
  display: flex;
  width: 100vw;
  height: 85%;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: animatedBackground 5s infinite linear;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

@keyframes animatedBackground {
  from {
    background-size: 100%;
  }
  to {
    background-size: 110%;
  }
}
/* 
  .header-bot:before {
    content: "";
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: lightblue;
    z-index: 1;
  } */
.header-bot-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  height: 40%;
  background-color: #08ac8e88;
  border-radius: 10px;
  padding: 0px 30px;
  margin: 10px;
}
input[type=text]{
  border: none;
  color: white;
  background-color: #08ac8ef5;
  border-bottom: 12px solide white;
  width: 30vw;
  height: 5vh;
}

input[type=text]::placeholder{
  color: white;
}

.header-bot-search {
  display: flex;
  flex-direction: column;
}
